/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Classe para formatar texto em negrito */
  .bold-text {
    font-weight: bold;
  }
  
  /* Classe para formatar imagem como círculo */
  .circle-image {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  